// =========================
// MIXINS RESPONSIVE
// =========================

@mixin responsive-tablet($breakpoint: 768px) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin responsive-lg($breakpoint: 992px) {
    @media (min-width: $breakpoint) {
        @content;
    }
}


// =========================
// MIXINS FLEXBOX
// =========================

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin flex-column-center-gap($gap) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}