// =========================
// VARIABLES
// =========================

// Colores principales
$color-fondo: #84ff74;
$color-texto: #333;
$color-blanco: #ffffff;

// Colores de las cards
$color-card: #F7F2EB;
$color-card-titulo: #3B2A1E;
$color-card-texto: #5A4632;

// Bordes
$radio-md: 15px;
$radio-lg: 20px;

// Espaciados
$espaciado-md: 20px;
$espaciado-lg: 30px;
$espaciado-xl: 40px;

// Tipografía
$fuente-principal: 'Poppins', sans-serif;

$tamanio-texto: 16px;
$tamanio-titulo: 48px;
$tamanio-subtitulo: 32px;
$tamanio-h3: 26px;

$peso-normal: 400;
$peso-medio: 600;
$peso-negrita: 700;

$espaciado-base: 10px;
$espaciado-seccion: $espaciado-base * 3;